/* NAV-BAR*/
.navbar-brand img {
    height: 50px;
}

.navbar-nav .nav-link {
    color: #fff; 
    transition: color 0.3s ease; 
}

.navbar-nav .nav-link:hover {
    color: #0dcaf0; 
}   
.boton-custom {
    background-color: #00E3CC;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}

.boton-custom:hover {
    background-color: #009688; 
    color: #fff;
    box-shadow: 0 4px 8px rgba(50, 168, 156, 0.2);
}

.boton-outline-custom {
    border: 1px solid #00E3CC; 
    color: #00E3CC; 
    background-color: transparent;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.boton-outline-custom:hover {
    background-color: #00E3CC; 
    border-color: #00E3CC;
    color: #fff; 
    box-shadow: 0 4px 8px rgba(0, 227, 204, 0.2); 
}
.custom-dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #343a40;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    justify-content: flex-end;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden; 
    transition: max-height 0.4s ease, opacity 0.4s ease, visibility 0.4s;
}

.custom-dropdown:hover .custom-dropdown-content,
.custom-dropdown-content:hover {
    display: flex;
    max-height: 300px;
    opacity: 1;
    visibility: visible; 
}

.custom-dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
}

.custom-dropdown-content a:hover {
    background-color: #41BFB3;
}

.badge-personalizado{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6c757d0e;
    width: fit-content;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    gap: 5px;
}

.bola{
    display: inline-block; 
    width: 25px; 
    height: 25px; 
    border-radius: 100%;  
    vertical-align: middle;
    border: #343a4017 0.5px solid;
}

@media (max-width: 991px) {
    .custom-dropdown-content {
        position: static;
        display: flex;
        box-shadow: none;
        flex-direction: column;
        justify-content: flex-start;
        max-height: 0;
        opacity: 0;
        visibility: hidden; 
        transition: max-height 0.4s ease, opacity 0.4s ease, visibility 0.4s;
    }

    .navbar-toggler[aria-expanded="true"] + .navbar-collapse .custom-dropdown-content {
        max-height: 300px;
        opacity: 1;
        visibility: visible; 
        display: flex;
    }

    .custom-dropdown-content{
        margin-top: 10px;
        padding: 0;
        background-color: #212529;
    }
    .custom-dropdown-content a {
        padding: 8px 16px;
        border-top: 1px solid #41BFB3;
        display: block;
    }
}

/* FOOTER */
footer .nav-link {
    color: #6c757d; 
}

footer .nav-link:hover {
    color: #41BFB3; 
    text-decoration: none; 
}

/* CARD PRODUCTOS*/
.custom-card .card {
    border: none;
    transition: transform 0.1s ease;
}

.custom-card .card:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transform: scale(1.003);
}

/* CAROUSEL */
.carousel {
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

.carousel-item {
    height: 32rem;
    position: relative;
}

.carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
}


.boton-comprar:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

.alumno{
    min-height: calc(100vh - 250px);
}

.custom-badge {
    font-size: 1.15rem; 
    text-decoration: none; 
    opacity: 0.8; 
    padding: 10px 15px; 
    transition: opacity 0.3s ease; 
}

.custom-badge:hover {
    opacity: 1; 
    color: #6c757d;
}

.fit-cover{
    object-fit: cover;
}

.over-opacity{
    background-color: rgba(0, 0, 0, 0.2)
}

.table-custom {
    border-radius: 10px;
    overflow: hidden; 
    border: 1px solid #dee2e6; 
}

.img-admin{
    max-height: 120px;
}

.talle-ancho{
    max-width: 150px;
}